In [1]:
from tool import *

## DPK 재고 정보 시점별 update

In [2]:
with open('D:/Data/DPK stock.bin', 'rb') as f:
    df = pickle.load(f)

In [3]:
df

    Ref_date                                      OS TYPE  Stock
0 2023-01-09     WINDOWS 11 HOME FOR PLUS DEVICES (64BIT)   3717
1 2023-01-09                         WINDOWS 11 PRO ENTRY     50
2 2023-01-09                      WINDOWS 11 HOME (64BIT)   7327
3 2023-01-09  WINDOWS 11 HOME FOR PLUS DEVICES (SL_64BIT)     20
4 2023-01-09         WINDOWS 11 HOME FOR ADVANCED (64BIT)     76
5 2023-01-09                       WINDOWS 11 PRO (64BIT)   1815
6 2023-01-09             WINDOWS 11 PRO WITH Downgrade FR   1660

In [6]:
st = pd.read_clipboard() # 재고 정보가 있는 테이블 copy 후 가져옴

In [10]:
st['Ref_date'] =datetime.datetime(2023, 3, 27)

In [16]:
df = pd.concat([df, st]).reset_index(drop=True) # 기존 db와 합침
df

     Ref_date                                      OS TYPE  Stock
0  2023-01-09     WINDOWS 11 HOME FOR PLUS DEVICES (64BIT)   3717
1  2023-01-09                         WINDOWS 11 PRO ENTRY     50
2  2023-01-09                      WINDOWS 11 HOME (64BIT)   7327
3  2023-01-09  WINDOWS 11 HOME FOR PLUS DEVICES (SL_64BIT)     20
4  2023-01-09         WINDOWS 11 HOME FOR ADVANCED (64BIT)     76
5  2023-01-09                       WINDOWS 11 PRO (64BIT)   1815
6  2023-01-09             WINDOWS 11 PRO WITH Downgrade FR   1660
7  2023-03-27                      WINDOWS 11 HOME (64BIT)    798
8  2023-03-27         WINDOWS 11 HOME FOR ADVANCED (64BIT)    401
9  2023-03-27     WINDOWS 11 HOME FOR PLUS DEVICES (64BIT)   2099
10 2023-03-27                       WINDOWS 11 PRO (64BIT)    364
11 2023-03-27                         WINDOWS 11 PRO ENTRY      4
12 2023-03-27             WINDOWS 11 PRO WITH Downgrade FR    643
13 2023-03-27  WINDOWS 11 HOME FOR PLUS DEVICES (SL_64BIT)     20

In [17]:
with open('D:/Data/DPK stock.bin', 'wb') as f: # 최종 데이터 저장
    pickle.dump(df, f)

## 1. DB 불러오기

### - Fulfillment DB에서

In [2]:
with open('D:/Data/DPK Fullfillment DB.bin', 'rb') as f:
    ff = pickle.load(f)

In [3]:
ff.shape

(49681, 5)

In [4]:
ff

         Site   MS P/No.           PKID     FulfilledDateUTC OEM PO Number
0      Quanta  FQC-08797  3305342272399  2021-02-03 16:50:34       202102M
1      Quanta  FQC-08797  3305342272400  2021-02-03 16:50:34       202102M
2      Quanta  FQC-08797  3305342272401  2021-02-03 16:50:34       202102M
3      Quanta  FQC-08797  3305342272402  2021-02-03 16:50:34       202102M
4      Quanta  FQC-08797  3305342272403  2021-02-03 16:50:34       202102M
...       ...        ...            ...                  ...           ...
49676  Quanta  KK3-00027  3422209550511  2023-01-06 20:13:40   QT230211_01
49677  Quanta  KK3-00027  3422209550527  2023-01-06 20:13:40   QT230211_01
49678  Quanta  KK3-00027  3422209550553  2023-01-06 20:13:40   QT230211_01
49679  Quanta  KK3-00027  3422209550556  2023-01-06 20:13:40   QT230211_01
49680  Quanta  KK3-00027  3422209550563  2023-01-06 20:13:40   QT230211_01

[49681 rows x 5 columns]

In [5]:
ff['OEM PO Number'].max()

'QT230211_01'

In [6]:
ff[ff['OEM PO Number'] == ff['OEM PO Number'].max()]

         Site   MS P/No.           PKID     FulfilledDateUTC OEM PO Number
47384  Quanta  KK3-00027  3422201492205  2022-05-27 08:43:40   QT230211_01
47399  Quanta  KK3-00027  3422201492220  2022-05-27 08:43:40   QT230211_01
47444  Quanta  KW9-00609  3422091691003  2022-07-19 13:54:08   QT230211_01
47464  Quanta  FQC-08797  3305439630654  2022-07-29 08:23:51   QT230211_01
47605  Quanta  KW9-00609  3422092920190  2022-08-11 10:13:42   QT230211_01
...       ...        ...            ...                  ...           ...
49676  Quanta  KK3-00027  3422209550511  2023-01-06 20:13:40   QT230211_01
49677  Quanta  KK3-00027  3422209550527  2023-01-06 20:13:40   QT230211_01
49678  Quanta  KK3-00027  3422209550553  2023-01-06 20:13:40   QT230211_01
49679  Quanta  KK3-00027  3422209550556  2023-01-06 20:13:40   QT230211_01
49680  Quanta  KK3-00027  3422209550563  2023-01-06 20:13:40   QT230211_01

[312 rows x 5 columns]

### - CBR DB에서

In [17]:
with open('D:/Data/DPK CBR DB.bin', 'rb') as f:
    cb = pickle.load(f)

In [18]:
cb.shape

(63399, 5)

In [9]:
cb.tail()

      SITE SET serial No.   MS P/No.           PKID  MSReceivedDateUTC
63394   QT  212QCBD559781  KK3-00027  3422208021132 2022-11-22 10:23:51
63395   QT  212QCZP558829  KW9-00609  3422097688897 2022-11-22 10:23:51
63396   QT  301QCZP558509  KK3-00027  3422208537682 2022-12-06 11:54:24
63397   QT  212QCHE559641  KK3-00027  3422208021042 2022-11-22 10:23:51
63398   QT  212QCVU559639  KK3-00027  3422208021052 2022-11-22 10:23:51

### - DPK return DB에서

In [26]:
with open('D:/Data/DPK return db.bin', 'rb') as f:
    rt_df = pickle.load(f)

In [27]:
rt_df

,Upload No.,Upload Date,Site,Key Type,PKID,MS P/No.,Return Type,No Credit,ReturnDateUTC,Return Status,Err Code,Remark,Create Date,Create By,Last Updated Date,Last Updated By
0,R202200003669,2022-12-16 15:52:18,Quanta,DPK,3258226590582,KUK-00001,No Documentation Required,False,2022-11-02 08:00:00,Return Error,PF,Rejected / NoCr / Previously returned,2022-12-16 15:52:18,243756,2022-12-16 17:32:15,SYSTEM
1,R202200003669,2022-12-16 15:52:18,Quanta,DPK,3258226450363,KUK-00001,No Documentation Required,False,2022-11-02 08:00:00,Return Error,PF,Rejected / NoCr / Previously returned,2022-12-16 15:52:18,243756,2022-12-16 17:32:15,SYSTEM
2,R202200003669,2022-12-16 15:52:18,Quanta,DPK,3258226450350,KUK-00001,No Documentation Required,False,2022-11-02 08:00:00,Return Error,PF,Rejected / NoCr / Previously returned,2022-12-16 15:52:18,243756,2022-12-16 17:32:15,SYSTEM
3,R202200003669,2022-12-16 15:52:18,Quanta,DPK,3258226590618,KUK-00001,No Documentation Required,False,2022-11-02 08:00:00,Return Error,PF,Rejected / NoCr / Previously returned,2022-12-16 15:52:18,243756,2022-12-16 17:32:15,SYSTEM
4,R202200003669,2022-12-16 15:52:18,Quanta,DPK,3258226450388,KUK-00001,No Documentation Required,False,2022-11-02 08:00:00,Return Error,PF,Rejected / NoCr / Previously returned,2022-12-16 15:52:18,243756,2022-12-16 17:32:15,SYSTEM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11509,R201800002239,2018-04-30 12:06:51,MALATA,DPK,3259440199267,KK6-00001,No Documentation Required,True,20180403093009,Return Error,PY,Rejected / NoCr / Pending DPK Return,2018-04-30 12:06:51,129300,2018-04-30 15:24:49,SYSTEM
11510,R201800002239,2018-04-30 12:06:51,MALATA,DPK,3259440199266,KK6-00001,No Documentation Required,True,20180403093009,Return Error,PY,Rejected / NoCr / Pending DPK Return,2018-04-30 12:06:51,129300,2018-04-30 15:24:49,SYSTEM
11511,R201800002239,2018-04-30 12:06:51,MALATA,DPK,3259440199265,KK6-00001,No Documentation Required,True,20180403093009,Return Error,PY,Rejected / NoCr / Pending DPK Return,2018-04-30 12:06:51,129300,2018-04-30 15:24:49,SYSTEM
11512,R201800002239,2018-04-30 12:06:51,MALATA,DPK,3259440199264,KK6-00001,No Documentation Required,True,20180403093009,Return Error,PY,Rejected / NoCr / Pending DPK Return,2018-04-30 12:06:51,129300,2018-04-30 15:24:49,SYSTEM
11513,R201800002239,2018-04-30 12:06:51,MALATA,DPK,3259440199263,KK6-00001,No Documentation Required,True,20180403093009,Return Error,PY,Rejected / NoCr / Pending DPK Return,2018-04-30 12:06:51,129300,2018-04-30 15:24:49,SYSTEM

## - DPK RMA DB에서

In [24]:
with open('D:/Data/DPK RMA Return DB.bin', 'rb') as f:
    rma_rt_df = pickle.load(f)

In [27]:
rma_rt_df.shape

(11514, 4)

In [29]:
df_new = pd.read_excel(get_filename()) # 최근에 DPK RMA Return 리스트 업로드한 파일 불러옴
df_new['PKID'] = df_new['PKID'].astype('str')
rma_rt_df = pd.concat([rma_rt_df, df_new], join='inner').reset_index(drop=True) # 기존 DPK RMA DB에 추가함

In [30]:
rma_rt_df

      Site           PKID   MS P/No.  No Credit
0       QT  3258226590582  KUK-00001      False
1       QT  3258226450363  KUK-00001      False
2       QT  3258226450350  KUK-00001      False
3       QT  3258226590618  KUK-00001      False
4       QT  3258226450388  KUK-00001      False
...    ...            ...        ...        ...
11885   QT  3422097686092  KW9-00609      False
11886   QT  3422097686083  KW9-00609      False
11887   QT  3422097686114  KW9-00609      False
11888   QT  3422097686143  KW9-00609      False
11889   QT  3422097686089  KW9-00609      False

[11890 rows x 4 columns]

In [31]:
with open('D:/Data/DPK RMA Return DB.bin', 'wb') as f:
    pickle.dump(rma_rt_df, f)

## 2. DPK fulfillment 등록한 엑셀 파일 불러옴

In [7]:
df_new = pd.read_excel(get_filename())
df_new = df_new[['Site', 'MS P/No.', 'PKID', 'FulfilledDateUTC', 'OEM PO Number']]
df_new['PKID'] = df_new['PKID'].astype(str)
df_new.shape

(376, 5)

In [9]:
ff

         Site   MS P/No.           PKID     FulfilledDateUTC OEM PO Number
0      Quanta  FQC-08797  3305342272399  2021-02-03 16:50:34       202102M
1      Quanta  FQC-08797  3305342272400  2021-02-03 16:50:34       202102M
2      Quanta  FQC-08797  3305342272401  2021-02-03 16:50:34       202102M
3      Quanta  FQC-08797  3305342272402  2021-02-03 16:50:34       202102M
4      Quanta  FQC-08797  3305342272403  2021-02-03 16:50:34       202102M
...       ...        ...            ...                  ...           ...
49676  Quanta  KK3-00027  3422209550511  2023-01-06 20:13:40   QT230211_01
49677  Quanta  KK3-00027  3422209550527  2023-01-06 20:13:40   QT230211_01
49678  Quanta  KK3-00027  3422209550553  2023-01-06 20:13:40   QT230211_01
49679  Quanta  KK3-00027  3422209550556  2023-01-06 20:13:40   QT230211_01
49680  Quanta  KK3-00027  3422209550563  2023-01-06 20:13:40   QT230211_01

[49681 rows x 5 columns]

In [10]:
ff[ff['PKID'].isin(df_new['PKID'])]

Empty DataFrame
Columns: [Site, MS P/No., PKID, FulfilledDateUTC, OEM PO Number]
Index: []

In [11]:
df_new[~df_new['PKID'].isin(ff['PKID'])].shape

(376, 5)

In [12]:
ff = pd.concat([ff, df_new]) # 기존 DB와 신규 등록 리스트를 합쳐서 update함

In [13]:
ff.shape

(50057, 5)

## 3. CBR 데이타를 등록한 엑셀 파일 불러옴

In [19]:
df_new = pd.read_excel(get_filename())
df_new['PKID'] = df_new['PKID'].astype(str)
df_new = df_new.iloc[0:, :-2]
cb = pd.concat([cb, df_new])
cb

         SITE SET serial No.   MS P/No.           PKID  MSReceivedDateUTC
0    Pegatron  207PGPM762184  CSQ-00008  3305439227274 2022-07-30 16:05:00
1    Pegatron  208PGCD771843  CSQ-00008  3305440330384 2022-09-08 13:10:00
2    Pegatron  208PGNB771831  CSQ-00008  3305440327515 2022-09-08 13:10:00
3    Pegatron  208PGQN771892  CSQ-00008  3305440330397 2022-09-08 13:10:00
4      Quanta  201QCEA579388  KW9-00609  3422077092683 2021-12-16 17:55:12
..        ...            ...        ...            ...                 ...
377        QT  212QCFT559779  KK3-00027  3422208021145 2022-11-22 10:23:51
378        QT  303QCMR564147  KK3-00027  3422190591349 2023-01-18 16:13:54
379        QT  303QCKJ556757  KK3-00027  3422190511180 2023-01-18 16:13:54
380        QT  303QCKJ563885  KK3-00027  3422190584998 2023-01-18 16:13:54
381        QT  303QCWC558993  KK3-00027  3422190519889 2023-01-18 16:13:54

[63781 rows x 5 columns]

## 4. DPK RMA return DB 엑셀 파일 불러옴

## 4. 저장

### - Fulfillment DB 저장

In [14]:
ff = ff.reset_index(drop=True)

In [15]:
with open('D:/Data/DPK Fullfillment DB.bin', 'wb') as f:
    pickle.dump(ff, f)

### - CBR DB 저장

In [20]:
cb = cb.reset_index(drop=True)

In [21]:
with open('D:/Data/DPK CBR DB.bin', 'wb') as f:
    pickle.dump(cb, f)

### - DPK return DB에 저장

In [ ]:
rt_db = rt_db.reset_index(drop=True)

In [39]:
with open('D:/Data/DPK return db.bin', 'wb') as f:
    pickle.dump(rma_rt_df, f)

### - DPK rma return DB에 저장

In [ ]:
rma_df = rma_df.reset_index(drop=True)

In [38]:
with open('D:/Data/DPK RMA Return DB.bin', 'wb') as f:
    pickle.dump(rma_rt_df, f)