In [1]:
from tool import *

In [5]:
get_months_between_dates(datetime.date(2023, 5, 29), datetime.date.today())

[datetime.date(2023, 5, 1), datetime.date(2023, 6, 1)]

## DPK 재고 정보 시점별 update

In [2]:
with open('D:/Data/DPK stock.bin', 'rb') as f:
    df = pickle.load(f)

In [3]:
df

     Ref_date                                      OS TYPE  Stock
0  2023-01-09     WINDOWS 11 HOME FOR PLUS DEVICES (64BIT)   3717
1  2023-01-09                         WINDOWS 11 PRO ENTRY     50
2  2023-01-09                      WINDOWS 11 HOME (64BIT)   7327
3  2023-01-09  WINDOWS 11 HOME FOR PLUS DEVICES (SL_64BIT)     20
4  2023-01-09         WINDOWS 11 HOME FOR ADVANCED (64BIT)     76
5  2023-01-09                       WINDOWS 11 PRO (64BIT)   1815
6  2023-01-09             WINDOWS 11 PRO WITH Downgrade FR   1660
7  2023-03-27                      WINDOWS 11 HOME (64BIT)    798
8  2023-03-27         WINDOWS 11 HOME FOR ADVANCED (64BIT)    401
9  2023-03-27     WINDOWS 11 HOME FOR PLUS DEVICES (64BIT)   2099
10 2023-03-27                       WINDOWS 11 PRO (64BIT)    364
11 2023-03-27                         WINDOWS 11 PRO ENTRY      4
12 2023-03-27             WINDOWS 11 PRO WITH Downgrade FR    643
13 2023-03-27  WINDOWS 11 HOME FOR PLUS DEVICES (SL_64BIT)     20
14 2023-05-22                      WINDOWS 11 HOME (64BIT)    238
15 2023-05-22         WINDOWS 11 HOME FOR ADVANCED (64BIT)    599
16 2023-05-22     WINDOWS 11 HOME FOR PLUS DEVICES (64BIT)    305
17 2023-05-22  WINDOWS 11 HOME FOR PLUS DEVICES (SL_64BIT)     25
18 2023-05-22                       WINDOWS 11 PRO (64BIT)    335
19 2023-05-22             WINDOWS 11 PRO WITH Downgrade FR    732
20 2023-05-22                         WINDOWS 11 PRO ENTRY      4
21 2023-06-19                      WINDOWS 11 HOME (64BIT)   1053
22 2023-06-19         WINDOWS 11 HOME FOR ADVANCED (64BIT)     40
23 2023-06-19     WINDOWS 11 HOME FOR PLUS DEVICES (64BIT)   1863
24 2023-06-19  WINDOWS 11 HOME FOR PLUS DEVICES (SL_64BIT)     10
25 2023-06-19                       WINDOWS 11 PRO (64BIT)    745
26 2023-06-19             WINDOWS 11 PRO WITH Downgrade FR    358
27 2023-06-19                         WINDOWS 11 PRO ENTRY      4

In [16]:
st = pd.read_clipboard() # 재고 정보가 있는 테이블 copy 후 가져옴

In [17]:
st['Ref_date'] =datetime.datetime(2023, 6, 29)

In [18]:
st['OS TYPE'] = st['PN'].replace({value: key for key, value in dpk_map2.items()})

In [22]:
st = st.drop('PN', axis=1)

In [23]:
df = pd.concat([df, st]).reset_index(drop=True) # 기존 db와 합침
df

     Ref_date                                      OS TYPE  Stock
0  2023-01-09     WINDOWS 11 HOME FOR PLUS DEVICES (64BIT)   3717
1  2023-01-09                         WINDOWS 11 PRO ENTRY     50
2  2023-01-09                      WINDOWS 11 HOME (64BIT)   7327
3  2023-01-09  WINDOWS 11 HOME FOR PLUS DEVICES (SL_64BIT)     20
4  2023-01-09         WINDOWS 11 HOME FOR ADVANCED (64BIT)     76
5  2023-01-09                       WINDOWS 11 PRO (64BIT)   1815
6  2023-01-09             WINDOWS 11 PRO WITH Downgrade FR   1660
7  2023-03-27                      WINDOWS 11 HOME (64BIT)    798
8  2023-03-27         WINDOWS 11 HOME FOR ADVANCED (64BIT)    401
9  2023-03-27     WINDOWS 11 HOME FOR PLUS DEVICES (64BIT)   2099
10 2023-03-27                       WINDOWS 11 PRO (64BIT)    364
11 2023-03-27                         WINDOWS 11 PRO ENTRY      4
12 2023-03-27             WINDOWS 11 PRO WITH Downgrade FR    643
13 2023-03-27  WINDOWS 11 HOME FOR PLUS DEVICES (SL_64BIT)     20
14 2023-05-22                      WINDOWS 11 HOME (64BIT)    238
15 2023-05-22         WINDOWS 11 HOME FOR ADVANCED (64BIT)    599
16 2023-05-22     WINDOWS 11 HOME FOR PLUS DEVICES (64BIT)    305
17 2023-05-22  WINDOWS 11 HOME FOR PLUS DEVICES (SL_64BIT)     25
18 2023-05-22                       WINDOWS 11 PRO (64BIT)    335
19 2023-05-22             WINDOWS 11 PRO WITH Downgrade FR    732
20 2023-05-22                         WINDOWS 11 PRO ENTRY      4
21 2023-06-19                      WINDOWS 11 HOME (64BIT)   1053
22 2023-06-19         WINDOWS 11 HOME FOR ADVANCED (64BIT)     40
23 2023-06-19     WINDOWS 11 HOME FOR PLUS DEVICES (64BIT)   1863
24 2023-06-19  WINDOWS 11 HOME FOR PLUS DEVICES (SL_64BIT)     10
25 2023-06-19                       WINDOWS 11 PRO (64BIT)    745
26 2023-06-19             WINDOWS 11 PRO WITH Downgrade FR    358
27 2023-06-19                         WINDOWS 11 PRO ENTRY      4
28 2023-06-29                         WINDOWS 11 PRO ENTRY      4
29 2023-06-29                       WINDOWS 11 PRO (64BIT)      0
30 2023-06-29     WINDOWS 11 HOME FOR PLUS DEVICES (64BIT)     13
31 2023-06-29             WINDOWS 11 PRO WITH Downgrade FR    358
32 2023-06-29         WINDOWS 11 HOME FOR ADVANCED (64BIT)     40
33 2023-06-29                      WINDOWS 11 HOME (64BIT)    469
34 2023-06-29  WINDOWS 11 HOME FOR PLUS DEVICES (SL_64BIT)      9

In [24]:
with open('D:/Data/DPK stock.bin', 'wb') as f: # 최종 데이터 저장
    pickle.dump(df, f)

## 1. DB 불러오기

### - Fulfillment DB에서

In [2]:
with open('D:/Data/DPK Fullfillment DB.bin', 'rb') as f:
    ff = pickle.load(f)

In [3]:
ff.shape

(50057, 5)

In [4]:
ff

         Site   MS P/No.           PKID     FulfilledDateUTC OEM PO Number
0      Quanta  FQC-08797  3305342272399  2021-02-03 16:50:34       202102M
1      Quanta  FQC-08797  3305342272400  2021-02-03 16:50:34       202102M
2      Quanta  FQC-08797  3305342272401  2021-02-03 16:50:34       202102M
3      Quanta  FQC-08797  3305342272402  2021-02-03 16:50:34       202102M
4      Quanta  FQC-08797  3305342272403  2021-02-03 16:50:34       202102M
...       ...        ...            ...                  ...           ...
50052      QT  KW9-00609  3422097686092  2022-11-22 10:23:51   QT230407_01
50053      QT  KW9-00609  3422097686083  2022-11-22 10:23:51   QT230407_01
50054      QT  KW9-00609  3422097686114  2022-11-22 10:23:51   QT230407_01
50055      QT  KW9-00609  3422097686143  2022-11-22 10:23:51   QT230407_01
50056      QT  KW9-00609  3422097686089  2022-11-22 10:23:51   QT230407_01

[50057 rows x 5 columns]

In [5]:
ff['OEM PO Number'].max()

'QT230211_01'

In [6]:
ff[ff['OEM PO Number'] == ff['OEM PO Number'].max()]

         Site   MS P/No.           PKID     FulfilledDateUTC OEM PO Number
47384  Quanta  KK3-00027  3422201492205  2022-05-27 08:43:40   QT230211_01
47399  Quanta  KK3-00027  3422201492220  2022-05-27 08:43:40   QT230211_01
47444  Quanta  KW9-00609  3422091691003  2022-07-19 13:54:08   QT230211_01
47464  Quanta  FQC-08797  3305439630654  2022-07-29 08:23:51   QT230211_01
47605  Quanta  KW9-00609  3422092920190  2022-08-11 10:13:42   QT230211_01
...       ...        ...            ...                  ...           ...
49676  Quanta  KK3-00027  3422209550511  2023-01-06 20:13:40   QT230211_01
49677  Quanta  KK3-00027  3422209550527  2023-01-06 20:13:40   QT230211_01
49678  Quanta  KK3-00027  3422209550553  2023-01-06 20:13:40   QT230211_01
49679  Quanta  KK3-00027  3422209550556  2023-01-06 20:13:40   QT230211_01
49680  Quanta  KK3-00027  3422209550563  2023-01-06 20:13:40   QT230211_01

[312 rows x 5 columns]

### - CBR DB에서

In [16]:
with open('D:/Data/DPK CBR DB.bin', 'rb') as f:
    cb = pickle.load(f)

In [17]:
cb.shape

(63781, 5)

In [9]:
cb.tail()

      SITE SET serial No.   MS P/No.           PKID  MSReceivedDateUTC
63394   QT  212QCBD559781  KK3-00027  3422208021132 2022-11-22 10:23:51
63395   QT  212QCZP558829  KW9-00609  3422097688897 2022-11-22 10:23:51
63396   QT  301QCZP558509  KK3-00027  3422208537682 2022-12-06 11:54:24
63397   QT  212QCHE559641  KK3-00027  3422208021042 2022-11-22 10:23:51
63398   QT  212QCVU559639  KK3-00027  3422208021052 2022-11-22 10:23:51

### - DPK return DB에서

In [2]:
with open('D:/Data/DPK return db.bin', 'rb') as f:
    rt_df = pickle.load(f)

In [4]:
rt_df

,Upload No.,Upload Date,Site,Key Type,PKID,MS P/No.,Return Type,No Credit,ReturnDateUTC,Return Status,Err Code,Remark,Create Date,Create By,Last Updated Date,Last Updated By
0,R202300003732,2023-10-05 13:12:23,Pegatron,DPK,3792015591928,KQ6-00004,No Documentation Required,False,2023-10-05 13:10:00 PM,Return Error,PI,Rejected / NoCr / Over 365 days,2023-10-05 13:12:23,243756,2023-10-05 14:57:08,SYSTEM
1,R202300003732,2023-10-05 13:12:23,Pegatron,DPK,3792015583043,KQ6-00004,No Documentation Required,False,2023-10-05 13:10:00 PM,Return Error,PI,Rejected / NoCr / Over 365 days,2023-10-05 13:12:23,243756,2023-10-05 14:57:08,SYSTEM
2,R202300003732,2023-10-05 13:12:23,Pegatron,DPK,3792015570813,KQ6-00004,No Documentation Required,False,2023-10-05 13:10:00 PM,Return Error,PI,Rejected / NoCr / Over 365 days,2023-10-05 13:12:23,243756,2023-10-05 14:57:08,SYSTEM
3,R202300003732,2023-10-05 13:12:23,Pegatron,DPK,3422102272053,KW9-00609,No Documentation Required,False,2023-10-05 13:10:00 PM,Return Error,PO,Rejected / NoCr / Over stck bal date,2023-10-05 13:12:23,243756,2023-10-05 14:57:08,SYSTEM
4,R202300003732,2023-10-05 13:12:23,Pegatron,DPK,3792015588811,KQ6-00004,No Documentation Required,False,2023-10-05 13:10:00 PM,Return Error,PI,Rejected / NoCr / Over 365 days,2023-10-05 13:12:23,243756,2023-10-05 14:57:08,SYSTEM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13936,R201800002239,2018-04-30 12:06:51,MALATA,DPK,3259440193128,KK6-00001,No Documentation Required,True,20180403093009,Return Error,PY,Rejected / NoCr / Pending DPK Return,2018-04-30 12:06:51,129300,2018-04-30 15:24:49,SYSTEM
13937,R201800002239,2018-04-30 12:06:51,MALATA,DPK,3259440193127,KK6-00001,No Documentation Required,True,20180403093009,Return Error,PY,Rejected / NoCr / Pending DPK Return,2018-04-30 12:06:51,129300,2018-04-30 15:24:49,SYSTEM
13938,R201800002239,2018-04-30 12:06:51,MALATA,DPK,3259440193126,KK6-00001,No Documentation Required,True,20180403093009,Return Error,PY,Rejected / NoCr / Pending DPK Return,2018-04-30 12:06:51,129300,2018-04-30 15:24:49,SYSTEM
13939,R201800002239,2018-04-30 12:06:51,MALATA,DPK,3259440193125,KK6-00001,No Documentation Required,True,20180403093009,Return Error,PY,Rejected / NoCr / Pending DPK Return,2018-04-30 12:06:51,129300,2018-04-30 15:24:49,SYSTEM
13940,R201800002239,2018-04-30 12:06:51,MALATA,DPK,3259440193124,KK6-00001,No Documentation Required,True,20180403093009,Return Error,PY,Rejected / NoCr / Pending DPK Return,2018-04-30 12:06:51,129300,2018-04-30 15:24:49,SYSTEM

In [5]:
df = pd.read_excel(get_filename())

In [9]:
new_columns = []
for item in df.columns:
    new_columns.append(item.replace('\n', ' '))
df.columns = new_columns

In [11]:
with open('D:/Data/DPK return db.bin', 'wb') as f:
    pickle.dump(df, f)

## - DPK RMA DB에서

In [12]:
with open('D:/Data/DPK RMA Return DB.bin', 'rb') as f:
    rma_rt_df = pickle.load(f)

In [14]:
df = pd.read_excel(get_filename())

In [16]:
new_columns = []
for item in df.columns:
    new_columns.append(item.replace('\n', ' '))
df.columns = new_columns
with open('D:/Data/DPK RMA Return DB.bin', 'wb') as f:
    pickle.dump(df, f)

In [3]:
rma_rt_df.shape

(11714, 7)

In [4]:
rma_rt_df.head(3)

,Site,PKID,MS P/No.,Return Type,No Credit,ReturnDateUTC,Remark
0,Quanta,3258227938796,KW9-00001,Manufacturer Damage - Documentation Required,False,NaN,Rejected / NoCr / Over 365 days
1,Quanta,3258227938797,KW9-00001,Manufacturer Damage - Documentation Required,False,NaN,Rejected / NoCr / Over 365 days
2,Quanta,3422208021111,KK3-00027,Manufacturer Damage - Documentation Required,False,NaN,Accepted / Cr / Manufacturing damage

In [24]:
rma_rt_df

,Site,PKID,MS P/No.,Return Type,No Credit,ReturnDateUTC,Remark
0,QT,3422209565382,KK3-00027,ZOC,False,NaN,NaN
1,QT,3422209559435,KK3-00027,ZOC,False,NaN,NaN
2,QT,3422190591470,KK3-00027,ZOC,False,NaN,NaN
3,QT,3422209559623,KK3-00027,ZOC,False,NaN,NaN
4,QT,3422209562364,KK3-00027,ZOC,False,NaN,NaN
...,...,...,...,...,...,...,...
14111,QT,3259443780764,KK6-00001,ZOC,False,20170427100834,NaN
14112,QT,3259443780763,KK6-00001,ZOC,False,20170427100834,NaN
14113,QT,3259443780761,KK6-00001,ZOC,False,20170427100834,NaN
14114,QT,3258227938796,KW9-00001,ZOC,False,NaN,NaN
14115,QT,3258227938797,KW9-00001,ZOC,False,NaN,NaN

In [19]:
df_new = pd.read_excel(get_filename()) # 최근에 DPK RMA Return 리스트 업로드한 파일 불러옴
df_new['PKID'] = df_new['PKID'].astype('str')
rma_rt_df = pd.concat([rma_rt_df, df_new], join='inner').reset_index(drop=True) # 기존 DPK RMA DB에 추가함

In [20]:
rma_rt_df

,Site,PKID,MS P/No.,Return Type,No Credit,ReturnDateUTC,Remark
0,QT,3422209565382,KK3-00027,ZOC,False,NaN,NaN
1,QT,3422209559435,KK3-00027,ZOC,False,NaN,NaN
2,QT,3422190591470,KK3-00027,ZOC,False,NaN,NaN
3,QT,3422209559623,KK3-00027,ZOC,False,NaN,NaN
4,QT,3422209562364,KK3-00027,ZOC,False,NaN,NaN
...,...,...,...,...,...,...,...
14111,QT,3259443780764,KK6-00001,ZOC,False,20170427100834,NaN
14112,QT,3259443780763,KK6-00001,ZOC,False,20170427100834,NaN
14113,QT,3259443780761,KK6-00001,ZOC,False,20170427100834,NaN
14114,QT,3258227938796,KW9-00001,ZOC,False,NaN,NaN
14115,QT,3258227938797,KW9-00001,ZOC,False,NaN,NaN

In [21]:
with open('D:/Data/DPK RMA Return DB.bin', 'wb') as f:
    pickle.dump(rma_rt_df, f)

## 2. DPK fulfillment 등록한 엑셀 파일 불러옴

In [5]:
df_new = pd.read_excel(get_filename())
df_new = df_new[['Site', 'MS P/No.', 'PKID', 'FulfilledDateUTC', 'OEM PO Number']]
df_new['PKID'] = df_new['PKID'].astype(str)
df_new.shape

(111, 5)

In [6]:
ff

         Site   MS P/No.           PKID     FulfilledDateUTC OEM PO Number
0      Quanta  FQC-08797  3305342272399  2021-02-03 16:50:34       202102M
1      Quanta  FQC-08797  3305342272400  2021-02-03 16:50:34       202102M
2      Quanta  FQC-08797  3305342272401  2021-02-03 16:50:34       202102M
3      Quanta  FQC-08797  3305342272402  2021-02-03 16:50:34       202102M
4      Quanta  FQC-08797  3305342272403  2021-02-03 16:50:34       202102M
...       ...        ...            ...                  ...           ...
50052      QT  KW9-00609  3422097686092  2022-11-22 10:23:51   QT230407_01
50053      QT  KW9-00609  3422097686083  2022-11-22 10:23:51   QT230407_01
50054      QT  KW9-00609  3422097686114  2022-11-22 10:23:51   QT230407_01
50055      QT  KW9-00609  3422097686143  2022-11-22 10:23:51   QT230407_01
50056      QT  KW9-00609  3422097686089  2022-11-22 10:23:51   QT230407_01

[50057 rows x 5 columns]

In [7]:
ff[ff['PKID'].isin(df_new['PKID'])]

Empty DataFrame
Columns: [Site, MS P/No., PKID, FulfilledDateUTC, OEM PO Number]
Index: []

In [8]:
df_new[~df_new['PKID'].isin(ff['PKID'])].shape

(111, 5)

In [9]:
ff = pd.concat([ff, df_new]) # 기존 DB와 신규 등록 리스트를 합쳐서 update함

In [10]:
ff.shape

(50168, 5)

## 3. CBR 데이타를 등록한 엑셀 파일 불러옴

In [18]:
df_new = pd.read_excel(get_filename())
df_new['PKID'] = df_new['PKID'].astype(str)
df_new = df_new.iloc[0:, :-2]
cb = pd.concat([cb, df_new])
cb

         SITE SET serial No.   MS P/No.           PKID  MSReceivedDateUTC
0    Pegatron  207PGPM762184  CSQ-00008  3305439227274 2022-07-30 16:05:00
1    Pegatron  208PGCD771843  CSQ-00008  3305440330384 2022-09-08 13:10:00
2    Pegatron  208PGNB771831  CSQ-00008  3305440327515 2022-09-08 13:10:00
3    Pegatron  208PGQN771892  CSQ-00008  3305440330397 2022-09-08 13:10:00
4      Quanta  201QCEA579388  KW9-00609  3422077092683 2021-12-16 17:55:12
..        ...            ...        ...            ...                 ...
108        QT  302QCFT566907  KK3-00027  3422209565382 2023-01-06 20:13:40
109        QT  302QCNL567071  KK3-00027  3422209565545 2023-01-06 20:13:40
110        QT  302QCQX571116  KK3-00027  3422209565634 2023-01-06 20:13:40
111        QT  303QCUK555750  KK3-00027  3422209568626 2023-01-06 20:13:40
112        QT  304QCNL568143  KR5-00007  3556330037259 2023-04-13 12:43:24

[63894 rows x 5 columns]

## 4. DPK RMA return DB 엑셀 파일 불러옴

## 4. 저장

### - Fulfillment DB 저장

In [14]:
ff = ff.reset_index(drop=True)

In [15]:
with open('D:/Data/DPK Fullfillment DB.bin', 'wb') as f:
    pickle.dump(ff, f)

### - CBR DB 저장

In [19]:
cb = cb.reset_index(drop=True)

In [20]:
with open('D:/Data/DPK CBR DB.bin', 'wb') as f:
    pickle.dump(cb, f)

### - DPK return DB에 저장

In [12]:
rt_df = rt_df.reset_index(drop=True)

In [14]:
with open('D:/Data/DPK return db.bin', 'wb') as f:
    pickle.dump(rt_df, f)

### - DPK rma return DB에 저장

In [ ]:
rma_df = rma_df.reset_index(drop=True)

In [30]:
with open('D:/Data/DPK RMA Return DB.bin', 'wb') as f:
    pickle.dump(rma_rt_df, f)